/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c427f;
    color: #fff;
}

/* Navbar Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(28, 66, 127, 0.8);
    padding: 10px;
    z-index: 999;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0);
    /* Initial blur value */
}

nav.scrolled {
    backdrop-filter: blur(10px);
    /* Blur value when scrolled */
}

nav.transparent {
    background-color: transparent;
    box-shadow: none;
    /* Remove box-shadow when transparent */
}

nav .logo {
    display: inline-block;
    margin-right: 20px;
}

nav .logo img {
    height: 50px;
    transition: transform 0.3s ease;
    /* Added transform transition */
}

nav .logo img:hover {
    transform: scale(1.1);
    /* Scale up the logo on hover */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
    position: relative;
    /* Added position relative for the hover effect */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px;
    /* Added padding for better hover effect */
}

nav ul li a:hover {
    color: #fff;
    /* Updated hover color */
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    /* Updated underline color */
    transform: scaleX(0);
    /* Initially hide the underline */
    transition: transform 0.3s ease;
    /* Added transform transition */
}

nav ul li a:hover::before {
    transform: scaleX(1);
    /* Show the underline on hover */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(28, 66, 127, 0.8);
        padding: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links ul.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

@media (min-width: 769px) {
    .nav-toggle {
        display: none;
    }
}

/* Welcome Section Styles */
.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome h1 {
    font-size: 3rem;
    margin-bottom: 0px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    height: 30px;
    margin-right: 10px;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        margin-bottom: 10px;
    }

    .buttons-center {
        margin-right: 0;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 5px 0;
    }
}

.buttons {
    margin-bottom: 20px;
}

.invite-btn,
.join-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #1c427f;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.invite-btn:hover,
.join-btn:hover {
    background-color: #1c427f;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .row {
        flex-direction: column;
    }

    .image,
    .text {
        max-width: 100%;
    }
}

.main-container {
    text-align: center;
    margin: 30px;
    border: 2px solid #fff;
    background-color: #003b9b;
    padding: 20px;
    border-radius: 5px;
}

.section-container {
    text-align: center;
    background-color: #0f2d5e;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-container h1 {
    margin-top: 0;
}

.commands {
    padding-left: 20px;
}

.commands p {
    margin: 10px 0;
}

.button-name {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Styles for the loading container */
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Styles for the loading circle */
.loading-circle {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

/* Animation for the loading circle */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
